<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blogs.html">Blogs</a></li>
                    <li><a href="my-blogs.html">My Blogs</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="logout.html">Logout</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <h1>All Blogs</h1>
            <input type="text" placeholder="Search blogs..." id="search" />
            <div id="blogs-list">
                <!-- Blog Cards will be dynamically added here -->
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>
